# Python
__pycache__/
*.pyc
venv/
*.egg-info/

# Pelican
output/
cache/
content/nbimages/

# Our generated markdown files in the root content folder
# This prevents committing derived files. The Action will generate them.
content/*.md

.vscode